body{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
canvas{
    margin-top: 50px;
}
#btnReiniciar{
    margin-top: 20px;
}
#btnReiniciar:hover{
    font-size: 15px;
}